<div class="container">
 <div class="row justify-content-center">
   <div class="col-5">
     <div class="mt-3">
<%= form_with model:@book do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>
<br>
    <%= form.label :author %>
    <%= form.text_field :author %>
<br>
    <%= form.label :description %>
    <%= form.text_field :description %>
<br>
    <%= form.label :image %>
    <%= form.file_field :image %>
<br>
    <%= form.button %>
    <% end %>

<%= button_to "Delete", @book, method: :delete %>

</div>