<%if user_signed_in? %>
<br>
<div class="d-flex  align-items mt-5 pt-3">

<div class="bg-dark text-white text-center mx-auto p-1  rounded " style="width: fit-content;" >
<% if user_signed_in? %>
    <h2>Welcome <%= current_user.name %></h2>
<% end %>
</div>
  <div>
    <%= link_to "Add Book", new_book_path, class: "btn btn-outline-primary btn-lg" %>
  </div>
</div>
<% end %>


<div class="container text-center mt-5 pt-4">   
<div class="row p-4">
<% @books.each do |book| %>
    <div class="col-md-3 mb-4">
      <div class="card h-100 d-flex flex-column" style="width: 18rem;">

      <% if book.image.attached? %>
      <%= image_tag book.image, alt: "Cover image", class: "card-img-top img-thumbnail", style: "height: 300px; object-fit: cover;" %>
      <% end %>
      
        <div class="card-body text-start">
          <%= link_to book_path(book), class: "text-decoration-none" do %>
            <h2 class="card-title"><%= book.title %></h2>
            <h4 class="card-subtitle mb-2 text-black">Author: <%= book.author %></h4>
            <p class="card-text text-muted"><%= book.description %></p>
          <% end %>
        </div>
<div class="mt-auto p-3">
  <% if user_signed_in? %>
    <% if book.user==current_user %>
      <%= link_to "View Book", book_path(book) %><br>
    <% elsif Permission.exists?(user: current_user, book: book, status: 'approved') %>
      <%= link_to "View Book", book_path(book) %><hr>
    <% elsif Permission.exists?(user: current_user, book: book, status: 'pending') %>
      <h2 class="text-warning mt-2">Request Pending</h2>
    <% elsif Permission.exists?(user: current_user, book: book, status: 'rejected') %>
      <h2 class="text-danger mt-2">Request Rejected</h2>

    <% else %>
      <%= button_to "Request Access", book_permissions_path(book), method: :post %>
    <% end %>

    <% else %>
        <%= link_to "Login to request access", new_user_session_path, class: "btn btn-outline-primary " %>
    <% end %>
          </div>
        </div>  
    </div>
    <% end  %>
  </div>
</div>



<br>

<%= paginate @books %>

