<h2>Add Review</h2>
<%= form_with(model: [@book, @review]) do |form| %>
    <%= form.label :rating %><br>
    <%= form.number_field :rating %>
    <%= form.label :comment %>
    <%= form.text_field :comment %><br>
    
    <br><%= form.submit  %>
<% end %>
